@model IEnumerable<BookStore.Models.Category>

@if (Model != null && Model.Any())
{
    <div class="mb-4">
        <h4>Thể loại</h4>
        <ul class="list-unstyled fruite-categorie">
            @foreach (var item in Model) // Limit to the first 5 categories
            {
                <li>
                    <div class="d-flex justify-content-between fruite-name">
                        @Html.ActionLink(item.NameCate, "Index", "Category",new { id =item.ID},null)
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>No categories available.</p>
}
